
.spaced10-buttons {
  margin: 10px;
}

mat-form-field {
  width: 90%;
  margin-left: 10px;
}


.mat-input-element {
  font-size: medium;
  font-weight: 200;
}


.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

.mat-form-field {
  width: 90%;
}

.mat-mdc-form-field {
  display: block;
}


.list-card {
  margin-top: 20px;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}