<h1 class="anchor-header">Magazine</h1>

<div class="container">
    <div style="margin-top: 20px;">
      <mat-form-field>
        <mat-label>Filtrare</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="expression to filter rows" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
      
          <!-- CodMagazin Column -->
          <ng-container matColumnDef="codMagazin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod Magazin </th>
            <td mat-cell *matCellDef="let row"> {{row.codMagazin}} </td>
          </ng-container>
      
          <!-- Denumire Column -->
          <ng-container matColumnDef="denumire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Denumire </th>
            <td mat-cell *matCellDef="let row"> {{row.denumire}} </td>
          </ng-container>

         <!-- Denumire Column -->
         <ng-container matColumnDef="detalii">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalii </th>
            <td mat-cell *matCellDef="let row"> {{row.detalii}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actiune </th>
            <td mat-cell *matCellDef="let row" class="tdButtons"> 
              <div >
                <button mat-icon-button color="primary" (click)="editStore(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteStore(row.codMagazin)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu s-au gasit date dupa filtrare "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="magazii per pagina"></mat-paginator>
      </div>
      <button mat-fab color="primary" class="fav-button"  (click)="openDialogStore()"><mat-icon>note_add</mat-icon></button>
    </div>
  </div>

