<h1 mat-dialog-title>{{titleAction}} Magazin</h1>
<div mat-dialog-content>
    <form [formGroup]="storeForm">

        <mat-form-field appearance="fill">
            <mat-label>Cod Magazin</mat-label>
            <input formControlName="codMagazin" matInput placeholder="Cod Magazin"> 
        </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Denumire </mat-label>
        <input formControlName="denumire" matInput placeholder="Denumire">
    </mat-form-field> 

    <mat-form-field appearance="fill">
        <mat-label>Detalii </mat-label>
        <input formControlName="detalii" matInput placeholder="Detalii">
    </mat-form-field> 
    </form>
    
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="" class="spaced10-buttons">Anuleaza</button>
    <button mat-raised-button color="primary" (click)="addStore()" class="spaced10-buttons">Salveaza</button>
</div>


